.grid-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-about img{
    margin-top: 30px;
}

.text_about{
    margin-top: 40px;
    text-align: center;
}